@charset "utf-8";
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.red--box{height: 100px;
  width: 400px;
  background: #ff0000;
}
.blue--box{width: 250px;
  height: 250px;
  background: #3300ff;
  float: left;
}
.green--box{width: 150px;
  height: 250px;
  background: #00ff1e;
  float: left;
}
.yellow--box{height: 100px;
  width: 400px;
  background: #ffe600;
  bottom: 0;
}